<ModConfiguration>
	<Id>Niky646.UndergroundSmelting</Id>
	<Name>Underground Smelting</Name>
	<Version>1</Version>
	<IsLocalMod>false</IsLocalMod>
	<IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
Simple mod that re-enables Underground smelting, and adjusts the smelt times to original values if placed underground!
  </Description>
</ModConfiguration>