<ModConfiguration>
	<Id>Niky646.UndergroundSmelting</Id>
	<Name>Underground Smelting</Name>
	<Version>3</Version>
	<IsLocalMod>false</IsLocalMod>
	<IsServerOnlyMod>false</IsServerOnlyMod>
  <ChangeNode>Updated the ARC Jet Power Stats</ChangeNode>
  <ChangeNote>Updated the ARC Jet Power Stats</ChangeNote>
</ModConfiguration>